.panel{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.panel h1{
    margin:0;
    padding:0;
    margin:3rem 0;
    font-size: clamp(1rem, 1.5vw + 1.5rem, 7rem);
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    padding-left:1rem;
}

.flexContainer{
    display:flex;
    gap:2rem;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.productsPanel{
    width:50%;
    min-width:40rem;
    min-height:70vh;
    
}

.subHeader{
    color:rgb(128, 128, 128);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: clamp(1rem,1vw + 1rem, 1.2rem);
    padding-left:10%;
}

.product{
    display:flex;
    height: 10rem;
    border:1px solid rgb(221, 221, 221);
}

.productInfo{
    display:flex;
    flex-direction: column;
    width:70%;
    padding-top:1rem;
}

.productIMG{

}

.productTitle{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: clamp(1rem,1vw + 1rem, 1.2rem);
}

.productQuantity{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: clamp(1rem,1vw + 1rem, 1.2rem);
    color:rgb(128, 128, 128);
}

.totalProductPrice{
    padding-top:1rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: clamp(1rem,1vw + 1rem, 1.2rem);
    padding-right:5rem;
}

.orderSummary{
    width:25%;
    min-width:30rem;
    min-height:70vh;
}

.orderSummary h2{
    margin:0;padding:0;
    margin:3rem 0;
    font-size: clamp(1rem, 0.9vw + 0.9rem, 7rem);
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    padding-left:1rem;
}

.orderSummary .subHeader{
    padding-left:2rem;
}
.orderInfo{
    padding:1rem 0;
    border:1px solid rgb(221, 221, 221);
}
.total{
    color:black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: clamp(1rem,1vw + 1rem, 1.2rem);
    padding-left:2rem;
}

.payPrompt{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:3rem;
    padding-bottom:3rem;
}

.payButton{
    all:unset;
    border:1px solid rgb(60, 168, 60);
    padding:1.5rem 2rem;
    background-color: rgb(60, 168, 60);
    border-radius: 8px;
    color:white;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: clamp(1rem,1vw + 1rem, 1.2rem);
    cursor:pointer;
}

@media (max-width:800px){
    .panel{
        flex-wrap:wrap;
    }
    .panel h1{
        margin:1.5rem;
    }
    .productsPanel{
        width:100%;
        min-height:auto;
    }
    .productTitle{
        font-size: clamp(0.5rem,1vw + 1rem, 1rem);

    }
    .productQuantity{
        font-size: clamp(0.5rem,1vw + 1rem, 1rem);
    }
    .orderSummary{
        width:100%;
        min-height:auto;
    }
    .payPrompt, .totalProductPrice{
        width:100%;
    }
    .totalProductPrice, .orderSummary .subHeader, .total{
        font-size: clamp(0.5rem,1vw + 1rem, 1rem);
    }
    .orderSummary h2{
        margin:1.5rem;
    }
    .orderSummary .subHeader, .total{
        padding-left:3rem;
    }

}