.panel{
    width:100%;
}

.productPanel{
    display:flex;
    max-width:80vw;
    padding-left:10vw;
    padding-right:10vw;
}

.imageHolder{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.imageHolder img{
    float: left;
    width:30rem;
    height:30rem;
    object-fit: contain;
}
@media(max-width:800px){
    .imageHolder img{
        width:20rem;
        height:20rem;
    }
}

.productInfo{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    width:50%;
    padding-top:5rem;
}

.productTitle{
    margin:0;padding:0;
    font-size: clamp(1rem, 1vw + 1rem, 5rem);
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.productPrice{
    display:flex;
    gap:0.5rem;
    font-size: clamp(1rem, 0.6vw + 0.6rem, 3rem);
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.productPrice span{
    color:red;
    text-decoration: line-through;
}

.productDesc{
    font-size: clamp(1rem, 0.5vw + 0.5rem, 3rem);
    color: black;
}

.productInfo form{
    display:flex;
    gap:1rem; 
    flex-wrap:wrap;
}

.quantitySelect{
    width:6rem;
    height:3.5rem;
    text-align: center;
    font-size: clamp(1rem, 0.5vw + 0.5rem, 3rem);
    font-weight: 700;
    border:2px solid black;
}

.productInfo label{
    width:100%;
    font-size: clamp(1rem, 0.5vw + 0.5rem, 3rem);
    font-family: 'Kanit', sans-serif;
    font-weight: 500;

}

.productInfo form button{
    border: 2px solid black;
    height:3.5rem;
    padding:0 1rem;
    font-size: clamp(1rem, 0.5vw + 0.5rem, 3rem);
    white-space:nowrap;
    color:white;
    background-color: black;
    cursor:pointer;
}

.productPanel h2{
    font-size: clamp(1rem, 0.5vw + 0.5rem, 3rem);
    color:rgb(95, 95, 95);
    
}


@media(max-width:800px){
    .productPanel{
        flex-direction: column;
        align-items: center;
        padding:0;
        min-width:100vw;
        padding-bottom:10vh;
    }
    .imageHolder{
        width:100%;
    }
    .imageHolder img{
        width:100%;
        padding:0;margin:0;
    }
    .productInfo{
        padding:0;margin:0;
        width:80%;
        padding:0;margin:0;
        gap:0;
    }
}